<p-multiSelect
  [options]="tickers"
  [(ngModel)]="selectedTickers"
  [filter]="true"
  placeholder="Select tickers"
  [optionValue]="'id'"
  [optionLabel]="'label'">
</p-multiSelect>

<button pButton type="button" label="Search" (click)="onSearchClick()"></button>

<p-table [value]="stocks" [lazy]="true" (onLazyLoad)="loadStocksLazy($event)"
  [paginator]="true" [rows]="selectedPageSize" [totalRecords]="totalRecords"
  [scrollable]="true" scrollHeight="800px">

  <ng-template pTemplate="header">
    <tr>
      <th>Symbol</th>
      <th>Company</th>
      <th>Price</th>
      <th>Change</th>
      <th>Date</th>
      <th>Description</th>
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-stock let-i="rowIndex">
    <tr>
      <td>{{ stock.symbol }}</td>
      <td>{{ stock.company }}</td>
      <td>{{ stock.price }}</td>
      <td>{{ stock.change }}</td>
      <td>{{ stock.date }}</td>
      <td pEditableColumn>
        <p-cellEditor>
          <ng-template pTemplate="input">
            <input pInputText type="text" [(ngModel)]="stock.description" (blur)="cancelRow(stock, i)" />
            <div class="edit-buttons">
              <button pButton type="button" icon="pi pi-check" class="p-button-success small-button" (click)="saveRow(stock, i)"></button>
              <button pButton type="button" icon="pi pi-times" class="p-button-danger small-button" (click)="cancelRow(stock, i)"></button>
            </div>
          </ng-template>
          <ng-template pTemplate="output" (click)="editRow(stock, i)">
            {{stock.description}}
          </ng-template>
        </p-cellEditor>
      </td>
    </tr>
  </ng-template>

  <!-- Custom Paginator Left Template -->
  <ng-template pTemplate="paginatorleft" let-state>
    <p-dropdown [options]="pageSizes" [(ngModel)]="selectedPageSize" (onChange)="onPageSizeChange()" styleClass="paginator-dropdown"></p-dropdown>
  </ng-template>

</p-table>
