<form [formGroup]="myForm" (ngSubmit)="onSubmit()" class="formgrid grid">
  <div class = "field col-12 md:col-4">
    <label for="id">ID</label>
    <input type="text" id="id" formControlName="id" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full" [ngModel]="rowData.id" readonly>
  </div>

  <div class = "field col-12 md:col-4">
    <label for="symbol">Symbol</label>
    <input type="text" id="symbol" formControlName="symbol" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full" [ngModel]="rowData.symbol" readonly>
  </div>

  <div class = "field col-12 md:col-4">
    <label for="company">Company</label>
    <input type="text" id="company" formControlName="company" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full" [ngModel]="rowData.company" readonly>
  </div>

  <div class = "field col-12 md:col-4">
    <label for="price">Price</label>
    <input type="text" id="price" formControlName="price" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full" [ngModel]="rowData.price">
  </div>

  <div class = "field col-12 md:col-4">
    <label for="change">Change</label>
    <input type="text" id="change" formControlName="change" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full" [ngModel]="rowData.change">
  </div>

  <div class="field col-12 md:col-4">
    <label for="date">Date</label>
    <input type="text" id="date" formControlName="date" class="p-inputtext w-full" [ngModel]="rowData.date">
  </div>

  <div class="field col-12 md:col-8">
    <label for="description">Description</label>
    <textarea id="description" rows="5" cols="30" formControlName="description" class="p-inputtext w-full h-32" [ngModel]="rowData.description"></textarea>
  </div>

  <div class="field col-12 md:col-4">
    <button type="submit" pButton type="button" label="Submit" class="p-button-sm" style="max-height: 50px; margin-top: 25px;"></button>
  </div>
</form>